<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:include="general.html :: headerfiles">
    </th:block>
</head>
<body>

<div class="wrapper">
    <div th:insert="general.html :: sidebar"></div>
    <div class="main_content">
        <div th:insert="general.html :: header"></div>
        <div class="info">
            <div>
                <span>Type van voertuig die u in het systeem wilt toevoegen</span>
                <ul class="nav nav-tabs">
                    <li role="presentation"><a href="#" th:href="@{/admin/addVehicle}">Auto</a></li>
                    <li role="presentation" class="active"><a href="#" th:href="@{/admin/addBus}">Bus</a></li>
                    <li role="presentation"><a href="#" th:href="@{/admin/addScooter}">Scooter</a></li>
                </ul>

            </div>
            <div>
                <form class="addNewVehicle" action="#" method="GET" th:action="@{/registerBus}" th:object="${bus}">
                    <p>Naam van voertuig : </p>
                    <input type="text" class="form-control" th:field="*{vehicleName}" placeholder="Voertuig naam"/>
                    <p>Motorinhoud : </p>
                    <input type="number" class="form-control" th:field="*{engineCapacity}" placeholder="Motorinhoud"/>
                    <p>Aantal zitplaatsen :</p>
                    <select class="form-control" th:field="*{numberOfSeats}">
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                    </select>
                    <p>Huurprijs per dag :</p>
                    <input type="number" step="0.01"class="form-control" th:field="*{pricePerDay}"
                           placeholder="0.0"/>
                    <p>Soort van brandstof : </p>
                    <select class="form-control" th:field="*{fuelType}">
                        <option value="Benzine">Benzine</option>
                        <option value="Diesel">Diesel</option>
                        <option value="Hybride">Hybride</option>
                        <option value="Elektrisch">Electrisch</option>
                        <option value="LPG">LPG</option>
                    </select>
                    <p>Is airco ? </p>
                    <select class="form-control" th:field="*{isAirConditioning}">
                        <option value="1">Ja</option>
                        <option value="0">Nee</option>
                    </select>
                    <p>Is handgeschakeld ?</p>
                    <select class="form-control" th:field="*{isManualTransmission}">
                        <option value="true">Ja</option>
                        <option value="false">Nee</option>
                    </select>
                    <p>Aantal deuren : </p>
                    <select class="form-control" th:field="*{numberOfDoors}">
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    <p>Lengte van de cabine :</p>
                    <input type="number" step="0.01"class="form-control" th:field="*{cabinLength}"
                           placeholder="0.0"/>
                    <p>Breedte van de cabine :</p>
                    <input type="number" step="0.01"class="form-control" th:field="*{cabinWidth}"
                           placeholder="0.0"/>
                    <p>Hoogte van de cabine :</p>
                    <input type="number" step="0.01"class="form-control" th:field="*{cabinHeight}"
                           placeholder="0.0"/>
                    <p>Afbeelding link</p>
                    <input type="text" class="form-control" th:field="*{sourceImage}"
                           placeholder="http://www.abcd.com/image.jpg"/>
                    <br>
                    <button type="submit" class="btn btn-primary">Voeg auto toe</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div th:insert="general.html :: javascript"></div>
</body>
</html>