<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:include="general.html :: headerfiles">
    </th:block>
</head>
<body>

<div class="wrapper">
    <div th:insert="general.html :: sidebar"></div>
    <div class="main_content">
        <div th:insert="general.html :: header"></div>
        <div class="info">
            <div>
                <span>Type van voertuig die u in het systeem wilt toevoegen</span>
                <ul class="nav nav-tabs">
                    <li role="presentation"><a href="#" th:href="@{/admin/addVehicle}">Auto</a></li>
                    <li role="presentation"><a href="#" th:href="@{/admin/addBus}">Bus</a></li>
                    <li role="presentation" class="active"><a href="#" th:href="@{/admin/addScooter}">Scooter</a></li>
                </ul>

            </div>
            <div>
                <form class="addNewVehicle" action="#" method="GET" th:action="@{/registerScooter}" th:object="${scooter}">
                    <p>Naam van scooter: </p>
                    <input type="text" class="form-control" th:field="*{vehicleName}" placeholder="Voertuig naam"/>
                    <p>Motorinhoud : </p>
                    <input type="number" class="form-control" th:field="*{engineCapacity}" placeholder="Motorinhoud"/>
                    <p>Aantal zitplaatsen :</p>
                    <select class="form-control" th:field="*{numberOfSeats}">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                    <p>Huurprijs per dag :</p>
                    <input type="number" step="0.01"class="form-control" th:field="*{pricePerDay}"
                           placeholder="0.0"/>
                    <p>Soort van brandstof : </p>
                    <select class="form-control" th:field="*{fuelType}">
                        <option value="Benzine">Benzine</option>
                        <option value="Elektrisch">Electrisch</option>
                    </select>
                    <p>Helm verplicht ? </p>
                    <select class="form-control" th:field="*{helmentObligation}">
                        <option value="1">Ja</option>
                        <option value="0">Nee</option>
                    </select>
                    <p>Maximum snelheid ?</p>
                    <input type="number" th:field="*{maxSpeed}">

                    <p>Afbeelding link</p>
                    <input type="text" class="form-control" th:field="*{sourceImage}"
                           placeholder="http://www.abcd.com/image.jpg"/>
                    <br>
                    <button type="submit" class="btn btn-primary">Voeg scooter toe</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div th:insert="general.html :: javascript"></div>
</body>
</html>