<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:include="general.html :: headerfiles">
    </th:block>
</head>
<body>

<div class="wrapper">
    <div th:insert="general.html :: sidebar"></div>
    <div class="main_content">
        <div th:insert="general.html :: header"></div>
        <h2>Alle gebruikers</h2>
        <p>In deze tabel ziet u alle gebruikers die in onze systeem bestaan.</p>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Username</th>
                <th>Voornaam</th>
                <th>Achternaam</th>
                <th>Geboortedatum</th>
                <th>Straat</th>
                <th>Huisnummber</th>
                <th>Toevoeging</th>
                <th>Postcode</th>
                <th>City</th>
                <th>Province</th>
                <th>Country</th>
                <th>Inschrijfdatum</th>
                <th>Role</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="User : ${allUsers}">
                <td th:text="${User.username}"></td>
                <td th:text="${User?.firstName}"></td>
                <td th:text="${User?.lastName}"></td>
                <td th:text="${#dates.format(User.dateOfBirth,'dd-MM-yyyy')}">date</td>
                <td th:text="${User?.address?.street}"></td>
                <td th:text="${User?.address?.houseNumber}"></td>
                <td th:text="${User?.address?.addition}"></td>
                <td th:text="${User?.address?.postalCode}"></td>
                <td th:text="${User?.address?.city}"></td>
                <td th:text="${User?.address?.province}"></td>
                <td th:text="${User?.address?.country}"></td>
                <td th:text="${#dates.format(User.registerDate,'dd-MM-yyyy')}">date</td>
                <td th:text="${User?.roleName}"></td>
            </tr>

            </tbody>
        </table>
    </div>
</div>
<div th:insert="general.html :: javascript"></div>
</body>
</html>