<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<title>Verhuur voertuig 1.0</title>
	<link rel="stylesheet" type="text/css"   th:href="@{../css/styles.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <STYLE>
        img {
            height: 100px;
            text-align: center;
        }
    </STYLE>
</head>
<body>

<div class="wrapper">
    <div class="sidebar">
        <h2>Rent Company</h2>
        <ul>
            <li><a href="#" th:href="@{/home}"><i class="fas fa-home"></i>Home</a></li>
            <li><a href="#"><i class="fas fa-compose-order"></i>Voertuigen samenstellen</a></li>
            <li><a href="#"><i class="fas fa-show-vehicles"></i>Voertuigen inzien</a></li>
            <li><a href="#" th:href="@{/showAllUsers}"><i class="fas fa-show-users"></i>Klanten inzien</a></li>
            <li><a href="#"><i class="fas fa-show-orders"></i>Orders inzien</a></li>
            <li><a href="#"><i class="fas fa-add-vehicle"></i>Voertuigen toevoegen</a></li>
            <li><a href="#"><i class="fas fa-add-extras"></i>Accessories toevoegen</a></li>
            <li><a href="#"><i class="fas fa-show-extras"></i>Accessories inzien</a></li>
            <li><a href="#" th:href="@{/logmeout}"><i class="fas fa-log-out"></i>Uitloggen</a></li>
        </ul> 

    </div>
    <div class="main_content">
        <div class="header"><span>Welkom </span><span th:text="${session.user.firstName}">Default</span><span>. Have a nice day !</span></div>
        <h2>Alle voertuigen</h2>
        <p>In deze tabel ziet u alle voertuigen die in onze systeem bestaan.</p>
        <table class="table table-striped">
            <thead>
            <tr>
                <th></th>
                <th>Naam</th>
                <th>Type</th>
                <th>Motorinhoud</th>
                <th>Aantal zitplaatsen</th>
                <th>Prijs per dag</th>
                <th>Brandstof</th>
                <th>Airco</th>
                <th>Handgeschakkeld</th>
                <th>Aantal deuren</th>
                <th></th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="Vehicle : ${allVehicles}">
                <td><img th:src="@{${Vehicle.sourceImage}}"></td>
                <td th:text="${Vehicle.vehicleName}"></td>
                <td th:text="${Vehicle?.typeOfVehicle}"></td>
                <td th:text="${Vehicle.engineCapacity}"></td>
                <td th:text="${Vehicle.numberOfSeats}">date</td>
                <td th:text="${Vehicle.pricePerDay}"></td>
                <td th:text="${Vehicle.fuelType}"></td>
                <span th:if="${Vehicle.typeOfVehicle=='bus' OR Vehicle.typeOfVehicle=='auto'}">
                <td th:text="${Vehicle.isAirConditioning} ? 'JA' : 'NEE'"></td>
                <td th:text="${Vehicle.isManualTransmission} ? 'JA' : 'NEE'"></td>
                <td th:text="${Vehicle.numberOfDoors}"></td>
                </span>
            </tr>

            </tbody>
        </table>
    </div>
</div>

</body>
</html>