<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:include="general.html :: headerfiles">
    </th:block>
    <STYLE>
        img {
            height: 100px;
            text-align: center;
        }
    </STYLE>
</head>
<body>

<div class="wrapper">
    <div th:insert="general.html :: sidebar"></div>
    <div class="main_content">
        <div th:insert="general.html :: header"></div>
        <h2>Alle voertuigen</h2>
        <p>In deze tabel ziet u alle voertuigen die in onze systeem bestaan.</p>
        <table class="table table-striped">
            <thead>
            <tr>
                <th></th>
                <th>Naam</th>
                <th>Type</th>
                <th>Motorinhoud</th>
                <th>Aantal zitplaatsen</th>
                <th>Prijs per dag</th>
                <th>Brandstof</th>
                <th>Airco</th>
                <th>Handgeschakkeld</th>
                <th>Aantal deuren</th>
                <th></th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="Vehicle : ${allVehicles}">
                <td><img th:src="@{${Vehicle.sourceImage}}"></td>
                <td th:text="${Vehicle.vehicleName}"></td>
                <td th:text="${Vehicle?.typeOfVehicle}"></td>
                <td th:text="${Vehicle.engineCapacity}"></td>
                <td th:text="${Vehicle.numberOfSeats}">date</td>
                <td th:text="${Vehicle.pricePerDay}"></td>
                <td th:text="${Vehicle.fuelType}"></td>
                <span th:if="${Vehicle.typeOfVehicle=='bus' OR Vehicle.typeOfVehicle=='auto'}">
                <td th:text="${Vehicle.isAirConditioning} ? 'JA' : 'NEE'"></td>
                <td th:text="${Vehicle.isManualTransmission} ? 'JA' : 'NEE'"></td>
                <td th:text="${Vehicle.numberOfDoors}"></td>
                </span>
            </tr>

            </tbody>
        </table>
    </div>
</div>
<div th:insert="general.html :: javascript"></div>
</body>
</html>